[Unit]
Description=Bind /Storage/dabrown/Templates to /home/dabrown/Templates
After=Storage-dabrown.mount
Requires=Storage-dabrown.mount

[Mount]
What=/Storage/dabrown/Templates
Where=/home/dabrown/Templates
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
