[Unit]
Description=Bind /Storage/dabrown/Music to /home/dabrown/Music
After=Storage-dabrown.mount
Requires=Storage-dabrown.mount

[Mount]
What=/Storage/dabrown/Music
Where=/home/dabrown/Music
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
